@charset "UTF-8";

:root{
    --cor0: #49a09d;
    --cor1: #5f2c82;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width:768px){
    body{
        background-color: var(--cor1);
        height: 100vh;
        min-width: 254px;
    }
    main{
        height: 88vh;
        width: 250px;
        background-color: white;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
    }
    #imagem{
        background-image: url(../imagens/metal.jpg);
        width: 250px;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
        background-position:  left bottom;
        background-size: cover;
    }
    #login{
        width: 250px;
        height: 292.4px;
    }
    h1{
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: bold;
        font-size: 1.5em;
    }
    #login > p{
        text-align: justify;
        font-size: 0.8em;
        padding: 0px 12px 0px 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .formulario{
        background-color: var(--cor1);
        border-radius: 10px;
        margin: 5px 10px;
    }
    .inputs{
        background-color: #94CFCD;
        height: 38px;
        width: 193px;
        margin: 0px 0px 2px 0px;
        padding-left: 5px;
        border: 0px;
        border-radius: 10px;
        color: gray;
        font-size: 1em;
    }  
    #ientrar{
        background-color: rgb(83, 170, 167);
        height: 42.2px;
        width: 230px;
        margin: 0px 10px 5px 10px;
        border-radius: 10px;
        color: white;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
    }
    #ientrar:hover{
        background-color: #326d6b;
    }
    #esqueci-senha{
        background-color: white;
        height: 42.2px;
        width: 230px;
        margin: 0px 10px;
        border: 1px solid rgb(83, 170, 167);
        border-radius: 10px;
    }
    #esqueci-senha:hover{
        background-color: #6CD3CF;
    }
    #esqueci-senha > a:hover{
        color: #2D6462;
    }
    a{
        text-decoration: none;
        color: rgb(83, 170, 167);
        margin-left:50px;
    }
    #icon-esqueci{
        background-color: #2D6462;
        margin-top: 7px;
    }
}
@media screen and (min-width:769px) and (max-width:992px){
    body{
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
        height: 100vh;
        background-attachment: fixed;
    }
    main{
        height: 280px;
        width: 80vw;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #imagem{ 
        background-image: url(../imagens/metal.jpg);
        background-position: bottom center;
        background-size: cover; 
        background-color: white;
        width: 30vw; 
        height: 280px; 
        display: inline-block; 
        border-radius: 20px 0px 0px 20px; 
        
    }
    #login{
        min-width: 316px;
        height: 280px;
        display: inline-block;
        background-color: white;
        position: absolute;
        border-radius: 0px 20px 20px 0px;
    }
    h1{
        text-align: center;
        font-size: 1.5em;
        padding: 10px;
    }
    #login > P{
        text-align: justify;
        padding: 0px 10px;
        font-size: 0.8em;
    }
    .formulario{
        background-color: var(--cor1);
        border-radius: 10px;
        margin: 5px 10px;
        min-width: 48.5vw;
    }
    .inputs{
        background-color: #94CFCD;
        height: 38px;
        min-width: 44.4vw;
        margin: 0px 0px 2px 0px;
        padding-left: 5px;
        border: 0px;
        border-radius: 10px;
        color: gray;
        font-size: 1em;
   
    }
    #aentrar{
        height: 40px;
        min-width: 48.5vw;
        text-decoration: none;
        color: rgb(83, 170, 167);
        position: relative;
        left: 0%;
    }
    a{
        height: 40px;
        min-width: 48.5vw;
        text-decoration: none;
        color: rgb(83, 170, 167);
        position: relative;
        left: 38%;
    }
    #entrar{
        background-color: rgb(83, 170, 167);
        height: 40px;
        min-width: 48.5vw;
        margin: 0px 10px 5px 10px;
        border-radius: 10px;
        color: white;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
    }
    #ientrar{
        position: relative;
        min-width: 48.7vw;
        background-color: rgb(83, 170, 167); 
        height: 40px; 
        
        border-radius: 10px; 
        color: white; 
        border: none; 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        font-size: 1em; 
      
    }
    #entrar:hover{
        background-color: #326d6b;
    }
    #ientrar:hover{
        background-color: #326d6b;
    }
    #esqueci-senha{
        background-color: white;
        height: 40px;
        min-width: 48.5vw;
        margin: 0px 10px;
        border: 1px solid rgb(83, 170, 167);
        border-radius: 10px;
    }
    #esqueci-senha:hover{
        background-color: #6CD3CF;
    }
    #esqueci-senha > a:hover{
        color: #2D6462;
    }
    #icon-esqueci{
        background-color: #2D6462;
        margin-top: 7px;
    }
}
@media screen and (min-width:993px){
    body{
        background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));
        height: 100vh;
        background-attachment: fixed;
    }
    main{
        height: 350px;
        max-width: 950px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
    #imagem{
        background-image: url(../imagens/metal.jpg);
        background-position: bottom center;
        background-size: cover;
        width: 475px;
        height: 350px;
        display: inline-block;
        border-radius: 0px 20px 20px 0px;
        float: right;
    }
    #login{
        width: 475px;
        height: 350px;
        display: inline-block;
        background-color: white;
        position: absolute;
        border-radius: 20px 0px 0px 20px;
        float: left;
    }
    h1{
        text-align: center;
        font-size: 2em;
        padding: 10px;
    }
    #login > P{
        text-align: justify;
        padding: 10px 10px;
        font-size: 1em;
    }
    .formulario{
        background-color: var(--cor1);
        border-radius: 10px;
        margin: 5px 10px;
    }
    .inputs{
        background-color: #94CFCD;
        height: 38px;
        width: 418px;
        margin: 0px 0px 2px 0px;
        padding-left: 5px;
        border: 0px;
        border-radius: 10px;
        color: gray;
        font-size: 1em;
    }
    #aentrar{
        height: 40px;
        min-width: 48.5vw;
        text-decoration: none;
        color: rgb(83, 170, 167);
        position: relative;
        left: 0%;
    }
    a{
        height: 40px;
        min-width: 48.5vw;
        text-decoration: none;
        color: rgb(83, 170, 167);
        position: relative;
        left: 38%;
    }
    #ientrar{
        background-color: rgb(83, 170, 167);
        height: 40px;
        width: 455px;
        margin: 0px 10px 5px 10px;
        border-radius: 10px;
        color: white;
        border: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
    }
    #ientrar:hover{
        background-color: #326d6b;
    }
    #esqueci-senha{
        background-color: white;
        height: 40px;
        width: 455px;
        margin: 0px 10px;
        border: 1px solid rgb(83, 170, 167);
        border-radius: 10px;
    }
    #esqueci-senha:hover{
        background-color: #6CD3CF;
    }
    #esqueci-senha > a:hover{
        color: #2D6462;
    }
    #icon-esqueci{
        background-color: #2D6462;
        margin-top: 7px;
    }
}
