@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main{
    height: 100vh;
    position: relative;
}
#figura-telefone{
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../imagens/frame-iphone.png") no-repeat;
}


#tela{
    position: relative;
    top: 12.92%;
    left: 07%;
    width: 267px;
    height: 473px;
}
a > img{
    display: block;
    width: 56.25px;
    height: 56.25px;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.400);
    position: relative;
    top:0%;
    left: 93%;
    border-radius: 50%;
    margin: 10px;
    box-sizing: border-box; /* A borda fará parte da caixa */
}
a > img:hover{
    border: 2px solid rgba(255, 255, 255, 0.747);
    transform: translate(-3%, -3%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.719);
    transition: 0.3s, border 0.3s;
}

